section {
    color: aqua;
    .content {
        background-color: beige;
        width: 100%;
        height: 100%;
    
        & > h3, & > h3 {
        width: 100%;
        height: 100%;
        }
}