
body {
    font-family: 'Montserrat', sans-serif;
    margin: auto; 
}  
.main {
    height: 100vh;
    min-height: 600px;
    background: url(../Flex_project/img/backrgound.png);
}
.header{
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.nav{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    position: absolute;
    right: 40px;
    padding-top: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.nav>li{
    margin-left: 50px;
}
.nav>li>a{
    color: white;  
    text-decoration: none;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
    justify-content: center;
    margin: 0;
}
.hero>p {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 0;
}
.hero>h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: white;
    width: 829px;
    margin-top: 20px;
    margin-bottom: 0;
}
.btn {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1em;
    background: #4985FF;
    border: none;
    color: white;
    padding: 15px 36px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    cursor: pointer;
    margin-top: 50px;
  } 
