
body {
    font-family: 'Montserrat', sans-serif;
    margin: auto; 
    -webkit-font-smothing: antialiased;
}  
h1, h2, h3, h4, h5 {
    margin: 0;
}
p {
    margin: 0;
}

.wrapper {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
}
.main {
    height: 100vh;
    min-height: 600px;
    background: url(../Flex_project/img/backrgound.png);
    background-repeat: no-repeat;
}
.header{
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.nav{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    position: absolute;
    right: 40px;
    padding-top: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* border-bottom: 1px solid white; */
    
}
.nav>li{
    margin-left: 50px;
    margin-bottom: 40px;
}
.nav>li>a{
    color: white;  
    text-decoration: none;
   
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    justify-content: center;
    margin: 0;
}
.hero>p {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 0;
}
.hero>h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: white;
    width: 829px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.btn {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    background: #4985FF;
    border: none;
    color: white;
    padding: 15px 36px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.5s linear;
    margin: 0 auto;
  }
  .btn:hover {
    background: #235ac7;
  }

  /* section class="servises" */

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
      
  }
  .container>h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 64px;
    text-align: center;
    width: 739px;
    margin-bottom: 40px;
    line-height: 53px;
    margin-top: 0;
    padding-top: 100px; 
  }
  .container>p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    width: 730px;
    color: #999999;
    line-height: 25px;
    text-align: center;
}

.allservises{
      display: flex;
      margin-top: 95px;
      justify-content: center;  
  }
.servises__item{
    flex: 1 1 0;
    padding-left: 90px;
    position: relative;
}
.servises__img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.servises__title{
    font-weight: 600;
    font-size: 18px;
    margin-top: 9px;

}
.servises__text{
    font-size: 14px;
    font-weight: 400;
    width: 210px;
    color: #999999;
    line-height: 25px;
    margin-top: 12px;
    margin-bottom: 55px;
}
.container>.btn{
margin-bottom: 105px;
}

/* Po centru str viravnivanie!! */
.fullscreen{
    background: #F6F6F8;  
}
.standart {
    display: flex;
    justify-content: center;    
}
.colour_background {
    padding-right: 120px;  
}
.colour_background>h2 {
    width: 424px;
    font-size: 36px;
    line-height: 53px;
    margin: auto 0;
    padding-top: 152px;
}
.colour_background>p {
    width: 489px;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    padding-top: 30px;
    margin: auto 0; 
    padding-bottom: 15px;   
    font-weight: 400;
}
.colour_background>a {
    font-weight: 500;
    font-size: 16px; 
    color: #4985FF;

}
.aboutus__img {
    padding-top: 100px;
}
.hrheader {
    opacity: 0.5;
    border-bottom: 1px solid #A1A1A1;
	padding-top: 100px;    
}

.hr-line {
   
    margin: 70px 0;
	padding: 0 ;
	height: 0;
	border: none;
	border-top: 1px solid #E0E0E0;
}

/* our project */

.ourprojects{
    padding-bottom: 70px;
}
.numbernav{
  display: inline-block
}
.numberitem  {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
}
.numberitem img {
  margin-right: 20px;
}
.numberitem>div{
  flex-basis: calc(100%-100px);
}
.textproject {
    font-size: 35px;
    font-weight: 400;
}
.textourproject {
    font-size: 16px;
    font-weight: 400;
    color: #999999;  
}

/* our_works */

.ourworks {
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    color: white;
    padding-top: 100px;
    padding-bottom: 302px;
    
}

  .ourworks__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .ourworks__text a {
      margin: 0 ;
  }

 .ourworks__text>h2{
    width: 540px;
    font-size: 36px;
    line-height: 53px;
    /* float: left; */
    color: white;
}
.ourworks__list {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    color: black;
    
}
/* rasstoyanie  mezhdu textom kak otcentririvat*/
.ourworks__item {
    padding-right: 30px;
}
.ourworks__item h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
}
.ourworks__item p{
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    padding-bottom: 30px;
}
.ourworks__item a {
    font-weight: 500;
    font-size: 16px; 
    color: #4985FF;
    padding-bottom: 85px; 
}
.colortext {
    color: #4985FF;
}

.bgcolor{
    background:white; 
    padding-top: 330px;
    padding-bottom: 15px;
}

.ourproject{
    background: #F6F6F8;
    padding-bottom: 100px;
}
.ourproject__img {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
.center {
    text-align: center;
    padding-top: 60px;
}

/* video */
.video {
    background: url(../Flex_project/img/videobg.png);
    background-repeat: no-repeat;
    height: 570px;
    color: white;
}
.video__text {
    color: white;
    text-align: center;
}
.video__text h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 64px;
    margin: 0 auto;
    width: 739px;
    margin-bottom: 30px;
    line-height: 53px;
    margin-top: 0;
    padding-top: 80px; 
  }
  .video__text p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    width: 730px;
    line-height: 25px;
}
.video__img{
    padding-top: 70px;
    text-align: center;  
    position: relative; 
    display: flex;
    justify-content: center;
  
}

.video__play_button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 165px;
     
}
.video__text__button {
    padding: 0;
    width: 300px;
    height: 100px;
    border-radius: 200px;
    margin: 0;
    border: 1px solid white;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    align-content: center;
    justify-content: center;
} 
.video__img__center {
    padding-right: 20px;
}
.bgcolor.video_bg {
    padding-top: 165px;
    padding-bottom: 0;
}
.subcribe__text{
    text-align: center;
    padding-top: 15px;
}
.subcribe__text p {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 16px;
    color: #999999;
}
.subcribe__form{
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    background: #ffffff;
    border: none;
    color: #999999;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    margin: 0 auto;
    width: 489px;
    height: 48px;
    display: flex;
    justify-content: space-between; 
    align-items: center;  
}
.subcribe__textafter{
    padding-top: 35px;
}
.subcribe__form p {
  padding-left: 33px;
}
.btn.subcribe{
    margin-right: 0;
    border-radius: 0px 30px 30px 0px;
    padding: 15px 36px;
}
.subcribe__textafter{
    padding-top: 35px;
    padding-bottom: 85px;
    font-size: 13px;
    color: #999999; 
    font-weight: 400;
    text-align: center;
}
.subcribe__text h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.footer {
    background: #F6F6F8;
    
}
.footer_item{
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}
.footer_item p {
    padding-top: 30px;
    font-size: 14px;
    color: #999999; 
    font-weight: 400; 
    display: flex;
    align-items: center;
    align-content: center;
    
}
.footer_item__image{
padding-right: 15px;
    
}

.footer_item h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.hrline__footer{
    margin: 0 auto;
    color: #999999; 
    margin: 0 auto;
	padding: 0 auto;
	height: 0;
	border: none;
	border-top: 1px solid #E0E0E0;
    
}
.footer__down {
    background: #F6F6F8;
}
.footer__down p {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 13px;
    color: #999999; 
    font-weight: 400; 
    text-align: center;
}
.bg__footer{
    background: #F6F6F8;
}