
body {
    font-family: 'Montserrat', sans-serif;
    margin: auto; 
    -webkit-font-smothing: antialiased;
}  
h1, h2, h3, h4, h5 {
    margin: 0;
}
p {
    margin: 0;
}

.wrapper {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
}
.main {
    height: 100vh;
    min-height: 600px;
    background: url(../Flex_project/img/backrgound.png);
    background-repeat: no-repeat;
}
.header{
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.nav{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    position: absolute;
    right: 40px;
    padding-top: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* border-bottom: 1px solid white; */
    
}
.nav>li{
    margin-left: 50px;
    margin-bottom: 40px;
}
.nav>li>a{
    color: white;  
    text-decoration: none;
   
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
    justify-content: center;
    margin: 0;
}
.hero>p {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 0;
}
.hero>h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: white;
    width: 829px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.btn {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1em;
    background: #4985FF;
    border: none;
    color: white;
    padding: 15px 36px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.5s linear;
    margin: 0 auto;
  }
  .btn:hover {
    background: #235ac7;
  }

  /* section class="servises" */

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
      
  }
  .container>h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 64px;
    text-align: center;
    width: 739px;
    margin-bottom: 40px;
    line-height: 53px;
    margin-top: 0;
    padding-top: 100px; 
  }
  .container>p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    width: 730px;
    color: #999999;
    line-height: 25px;
    text-align: center;
}

.allservises{
      display: flex;
      margin-top: 95px;
      justify-content: center;  
  }
.servises__item{
    flex: 1 1 0;
    padding-left: 90px;
    position: relative;
}
.servises__img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.servises__title{
    font-weight: 600;
    font-size: 18px;
    margin-top: 9px;

}
.servises__text{
    font-size: 14px;
    font-weight: 400;
    width: 210px;
    color: #999999;
    line-height: 25px;
    margin-top: 12px;
    margin-bottom: 55px;
}
.container>.btn{
margin-bottom: 105px;
}

/* Po centru str viravnivanie!! */
.fullscreen{
    background: #F6F6F8;  
}
.standart {
    display: flex;
    justify-content: center;    
}
.colour_background {
    padding-right: 120px;  
}
.colour_background>h2 {
    width: 424px;
    font-size: 36px;
    line-height: 53px;
    margin: auto 0;
    padding-top: 152px;
}
.colour_background>p {
    width: 489px;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    padding-top: 30px;
    margin: auto 0; 
    padding-bottom: 15px;   
    font-weight: 400;
}
.colour_background>a {
    font-weight: 500;
    font-size: 16px; 
    color: #4985FF;

}
.aboutus__img {
    padding-top: 100px;
}

.hr-line {
    /* display: block;
    width: 1110px;
    height: 1px;
    background-color: #E0E0E0;
    margin: 90px auto;
    position: relative; */
    margin: 70px 0;
	padding: 0 ;
	height: 0;
	border: none;
	border-top: 1px solid #E0E0E0;
}

/* our project */

.ourprojects{
    padding-bottom: 70px;
}
.numbernav{
  display: inline-block
}
.numberitem  {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
}
.numberitem img {
  margin-right: 20px;
}
.numberitem>div{
  flex-basis: calc(100%-100px);
}
.textproject {
    font-size: 35px;
    font-weight: 400;
}
.textourproject {
    font-size: 16px;
    font-weight: 400;
    color: #999999;  
}

/* our_works */

/* .ourworks {
    background:blue;
    padding-top: 100px;

}
.ourworks__text>h2{
    width: 540px;
    font-size: 36px;
    line-height: 53px;
    float: left;
    color: white;
}
.btnworks {
float: right;
margin-top: 200px;
}

.ourworks__list {
    padding-top: 100px;
} */
.ourworks {
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    color: white;
    padding-top: 100px;
    padding-bottom: 302px;
}
/* не работает hover */
.btn.works {
    position: absolute;
    right: 15px;
    top: 20px;
 }
 /* .btn.works:hover {
    background: #235ac7;
  } */

 .ourworks__text>h2{
    width: 540px;
    font-size: 36px;
    line-height: 53px;
    float: left;
    color: white;
}
.ourworks__list {
    padding-top: 158px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    color: black;
    
}
/* rasstoyanie  mezhdu textom kak otcentririvat*/
.ourworks__item {
    padding-right: 30px;
}
.ourworks__item h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
}
.ourworks__item p{
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    padding-bottom: 30px;
}
.ourworks__item a {
    font-weight: 500;
    font-size: 16px; 
    color: #4985FF;
    padding-bottom: 85px; 
}
.colortext {
    color: #4985FF;
}

.bgcolor{
    background:white; 
    padding-top: 480px;
    padding-bottom: 85px;
}

.ourproject{
    background: #F6F6F8;
    padding-bottom: 100px;
}
.ourproject__img {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
.center {
    text-align: center;
    padding-top: 60px;
}

/* video */
.video {
    background: url(../Flex_project/img/videobg.png);
    background-repeat: no-repeat;
    height: 570px;
    color: white;
}
.video__text {
    color: white;
    text-align: center;
}
.video__text h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 64px;
    margin: 0 auto;
    width: 739px;
    margin-bottom: 30px;
    line-height: 53px;
    margin-top: 0;
    padding-top: 80px; 
  }
  .video__text p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    width: 730px;
    line-height: 25px;
}
.video__img{
    padding-top: 70px;
    text-align: center;
    
}
.video__play_button {
    border: 1px solid #FFFFFF;
    border-radius: 200px;
    width: 300px;
    height: 100px;
}